html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.gallery {
    display: flex;
    width: 100%;
    height: calc(100% - 60px); 
}

.gallery-item {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.info {
    position: absolute;
    bottom: 10px;
    left: 20%;
    text-align: left;
    color: #fff;
    transition: transform 0.3s ease;
}

.info h2, .info p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.info h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.info p {
    margin: 5px 0 0;
    font-size: 16px;
}

.know-more {
    display: none;
    color: #00BDE7;
    text-decoration: none;
    margin-top: 10px;
}

.gallery-item:hover img {
    filter: blur(10px) brightness(0.3);
}

.gallery-item:hover .info {
    transform: translateY(-30%);
}

.gallery-item:hover .know-more {
    display: inline-block;
}

/* Mobile View */
@media (max-width: 768px) {
    h1 {
        display: none;
    }

    .info {
        display: none;
    }
}